
<div id='calendar'></div>




<!-- Modal -->
<div class="modal fade" id="visualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <dl class="row">
                    <dt class="col-sm-3">ID do evento</dt>
                    <dd class="col-sm-9" id="id"></dd>

                    <dt class="col-sm-3">Título do evento</dt>
                    <dd class="col-sm-9" id="title"></dd>

                    <dt class="col-sm-3">Início do evento</dt>
                    <dd class="col-sm-9" id="start"></dd>

                    <dt class="col-sm-3">Fim do evento</dt>
                    <dd class="col-sm-9" id="end"></dd>
                </dl>
            
            </div>
        
        </div>
            
    </div>

</div>




<!-- <div class="modal fade" id="cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content text-center">

            
            
            
        
        </div>
            
    </div>

</div> -->


<div class="modal fade" id="cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content text-center">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <button type="button" class="btn btn-outline-success" id="bnt8">08:00</button> 

                <button type="button" class="btn btn-outline-success" id="bnt9">09:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt10">10:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt11">11:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt12">12:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt13">13:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt14">14:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt15">15:00</button>

                <button type="button" class="btn btn-outline-success" id="bnt16">16:00</button>
            
            </div>
        
        </div>
            
    </div>

</div>




<!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Título</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control" id="title" placeholder="Título do evento">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Color</label>
                        <div class="col-sm-10">
                            <select name="color" class="form-control" id="color">
                                <option value="">Selecione</option>			
                                <option style="color:#FFD700;" value="#FFD700">Amarelo</option>
                                <option style="color:#0071c5;" value="#0071c5">Azul Turquesa</option>
                                <option style="color:#FF4500;" value="#FF4500">Laranja</option>
                                <option style="color:#8B4513;" value="#8B4513">Marrom</option>	
                                <option style="color:#1C1C1C;" value="#1C1C1C">Preto</option>
                                <option style="color:#436EEE;" value="#436EEE">Royal Blue</option>
                                <option style="color:#A020F0;" value="#A020F0">Roxo</option>
                                <option style="color:#40E0D0;" value="#40E0D0">Turquesa</option>
                                <option style="color:#228B22;" value="#228B22">Verde</option>
                                <option style="color:#8B0000;" value="#8B0000">Vermelho</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Início do evento</label>
                        <div class="col-sm-10">
                            <input type="text" name="start" class="form-control" id="start" onkeypress="DataHora(event, this)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Final do evento</label>
                        <div class="col-sm-10">
                            <input type="text" name="end" class="form-control" id="end"  onkeypress="DataHora(event, this)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
            
                            <input type="submit" name="CadEvent" id="CadEvent" value="CadEvent" class="btn btn-success">   

                        </div>
                    </div>

                </form>
            
            </div> -->

