@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.bgColor{
    background-color: #ECEFF1;

}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ECEFF1;
}

.main-container .conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 55vw;
    height: 70vh;
    position: relative;
}


.main-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ECEFF1;
}
.main-container2 .conteudoImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 50vw;
    height: 70vh;
    position: relative;
    border: 2px dotted black;

}

.main-container2 .conteudoPrincipal{
    text-align: center;
    width: 40%;
}

.conteudoPrincipal .botao{
    font-family: 'Righteous', cursive;
	font-size: 17px;
	color: white;
	background-color: #A487D5;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
    cursor: pointer;
    width: 120px;
    align-self: center;
    margin: 5px;
    text-align: center;
    
}

.colorImg{
    font-size: 80px;
    color: #A487D5;
    text-decoration: none;
}

.inputImg{
	font-family: 'Righteous', cursive;
	background-color: rgb(35, 219, 90);
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	padding: 5px 8px;
	align-items: center;
    outline: 0;
    cursor: pointer;
}

input[type="file"]{
    display: none;
}


.tituloAdd{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-top: 5vh;
    text-align: center;
}
.subtituloAdd{
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color: rgb(0, 0, 0);   
    text-align: center;

    
}

.main-container .conteudo::before{
    content:"";
    position:absolute;
    background-color:#B9F2FE;
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}

/*PRIMEIRO CONTEÚDO*/ 
.main-container .conteudo01{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-container .primeiracoluna{
    text-align: center;
    width:50%;

}

.conteudo01 .primeiracoluna{
    z-index: 10;
}

.conteudo01 .segundacoluna{
    z-index: 11;
}

.primeiracoluna .título{
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: white;
    padding-top: 125px;
}

.primeiracoluna .imagemPet{
    max-width: 34vw;
    max-height: 65vh;
    margin-top: 5vh;
}

.primeiracoluna .imagemPet2{
    width: 22vw;
    height: 60vh;
    margin-top: 5vh;
}
.primeiracoluna .subtítulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;   
    padding: 20px;
    padding-bottom: 30px;
}

.primeiracoluna .botao{
    font-family: 'Righteous', cursive;
	font-size: 17px;
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	border: none;
    padding: 6px 9px;
    width: 125px;
	border-radius: 5px;
    cursor: pointer;
    transition: 3s;
}

.main-container .segundacoluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.segundacoluna .título{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    color: black;
    padding-top: 25px;
}

.segundacoluna .subtítulo{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: rgb(0, 0, 0);   
    
}

.main-container .form-cadastroPet{
    font-family: 'Open Sans', sans-serif;
    width: 70%;
 font-size: 20px;
 margin-top: 4vh;

}

.form-cadastroPet input{
    border: none;
    background: none;
    margin: 10px;

}
.center{
    text-align: center;
    
}
.padLeft{
    padding-left: 3vw;
}
.main-container .form-login{
    font-family: 'Open Sans', sans-serif;
    width: 55%;
    height: 40%;
     font-size: 15px;
}

.form-login input{
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 15px;
    color: black;
    margin: 5px;
}


.tamanhoForm{
    width: 15vw;
}




.segundacoluna .botao{
    font-family: 'Righteous', cursive;
	font-size: 17px;
	color: white;
	background-color: #A487D5;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
    cursor: pointer;
    width: 120px;
    align-self: center;
    margin: 5px;
    text-align: center;
    
}

.segundacoluna .opções{
    font-family: 'Righteous', cursive;
    font-size: 19px;
    color: black;
}

.main-container .listaredes{
    display: flex;
    list-style: none;
}

.listaredes .icone{
   padding: 10px;
}

/*SEGUNDO CONTEÚDO*/ 
.main-container .conteudo02{
    display: flex;
    align-items: flex-start;
    position: absolute;
}

@media (max-width: 850px) {
    .main-container .conteudo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 100vw;
        height: 90vh;
        position: relative;
    }
    .main-container .conteudo01{
        display: flex;
        align-items: flex-start;

    }
    .main-container .conteudo::before{
        display: none;
    
    }

    
    .main-container .segundacoluna{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .main-container .primeiracoluna{
        display: none;
    }

    .main-container .segundacoluna{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .segundacoluna .título{
        font-family: 'Righteous', cursive;
        font-size: 45px;
        color: black;
        padding-top: 25px;
    }
    
    .segundacoluna .subtítulo{
        font-family: 'Righteous', cursive;
        font-size: 30px;
        color: rgb(0, 0, 0);   
        
    }
    
    .main-container .form-cadastroPet{
        font-family: 'Open Sans', sans-serif;
        width: 70%;
     font-size: 30px;
     margin-top: 4vh;
    
    }

    .tamanhoForm{
        width: 45vw;
    }
}