/* Nav Bar*/

.navCab{
	display: flex;

}

.nav-list {
	list-style: none;
	display: flex;
	font-family: 'Righteous', cursive;
	font-size: 18px;

}

.nav-list li{
	letter-spacing: 1px;
	margin-left: 32px;
}

.mobile-menu{
	display: none;
	cursor: pointer;
	justify-content: center;
	font-size: 20px;
}
.mobile-menu div{
	width: 32px;
	height: 2px;
	background: #000000;
	margin: 8px;
	transition: 0.3s;
}



	.nav-list{
		flex-direction: column;
		align-items: center;

		justify-content: space-around;
		transform: translateX(-100vw);
        background-color: rgba(156, 154, 148, 0.527);
        border-radius: 10px;
        color: #000000;
		max-width: 10vw;
		min-height: 7vh;
	}
	
.item-nav{
	font-family: 'Righteous', cursive;
	color: #000;
}

.botao{
		font-size: 100px;
	}
	.nav-list li{
		letter-spacing: 1px;
		margin-left: 0;
		opacity: 0;
	
	}
	.mobile-menu{
        
		display: flex;
		cursor: pointer;
	
	}
	.mobile-menu div{
		height: 0px;
		margin: 8px;
		transition: 0.3s;
	}


.nav-list.active {
	transform: translateY(0);
}
.mobile-menu.active .icone{
    transform: translate(0px,-30px); /* muda icone*/
}




@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(1px);
	}
}

.nav__bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	margin: 0;
	
}