<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style='white-space:nowrap;'>
        <table class='table table-striped'>
        <thead>
        <tr><th>Situação</th><th>Contrato</th><th>Número</th><th>Conclusão Prevista</th><th >Alterar</th><th>Detalhes</th></tr>
        </thead>
        <tbody style='color: white;'>
        <tr><td style='background-color:#ad2525'>$situacao</td><td style='background-color:#CD5555'>$contrato</td><td style='background-color:#ad2525'>$numero</td><td style='background-color:#CD5555'>$data às $hora</td><td style='background-color:#ad2525' align='center'><button class='btn btn-sucess' data-toggle='modal' data-target='#Alt' data-whatevernome='$rows_cursos['codigo']'></button></td><td style='background-color:#CD5555' align='center'><button class='btn btn-warning' data-toggle='modal' data-target='#Modal$codigo'></button></td></tr>
        </tbody>
        </table>
        </div>
        
        <!-- Tabela -->
        
        <!-- Modal 2 -->
        <div class="modal fade" id="Alt" role="dialog" data-backdrop="false" style=" background: rgba(0,0,0,0.5);">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class='row'>

                            <div class='col-sm-5'>
                                <h4 class="modal-title" style='margin-right: 140px;'>Alterar</h4> 
                            </div>

                            <form method="post" action="func/define.php" enctype="multipart/form-data">

                            <div class='col-sm-5 text-right' style='float: right'>
                                <button type='submit' class='btn btn-danger'>Alterar</button>
                                <button type='button' class='btn btn-primary' data-dismiss='modal'>Sair</button>
                            </div>

                        </div>
                    </div>
                        
                    <div class="modal-body">
                        <p>				
                            <label for="message-text" class="control-label">Detalhes:</label>
                            <input name="id_codigo" class="form-control" id="id_codigo" />
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>	
        <!-- Modal 2 -->


        <!--Campo Situaçao-->
<label for="id_codigo" class="control-label" >
    Situação:<br></label>
    <div class="input-group col-lg-6">
    <div class="input-group-addon">
    <span class='glyphicon glyphicon-alert'></span>
    </div>
    
    <!-- Para o valor ser reconhecido, somente se declara o id e name -->
    <select type='text' class="form-control" id="id_codigo" name="codigo"> 
    <!-- Para o valor ser reconhecido, somente se declara o id e name -->
    
    <option id="id_codigo">id="id_codigo"</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    </select>
    </div>
    <!--Fim Campo Situaçao-->

</body>
</html>